.ruby {
     margin: 20;

    /* Size */
    width: 110px;
    height: 90px;
  }

  .diamond {
     margin-top: 100;

    /* Size */
    width: 135px;
    height: 150px;
  }

  .sapphire {
     margin: 20;

    /* Size */
    width: 100px;
    height: 100px;
  }

  .emerald {
     margin: 20;

    /* Size */
    width: 100px;
    height: 100px;
  }